* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  -webkit-overflow-scrolling: hidden;
  padding-top: 25vh;
  overflow: none;
  width:100%;
  align-items: center;
  text-align: center;
  background:url("../img/mobilebg.jpg") no-repeat fixed top center;
  background-size: cover;
}

.home__name {
  font-size: 3rem;
  /* padding-bottom: 1rem;
  margin-bottom: 1rem; */
}
.line-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{

  border: 1px solid #fff;
  margin:1rem 0;
  width:80%;
}
.home__name--last {
  color: #ff652f;
  font-weight: 700;
}
.home > .web{
  color: white;
  padding: 0 .5px;
  font-size: 20px;
}
.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: .5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  list-style-type: none;
  padding-right: 1rem;
  transform: translatY(-100%);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  transform: translateY(0);
}

.nav .menu-nav__item {

  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__item.open {
  transform: translateX(0);
}

.nav .menu-nav__item.active > a {
  color: #ff652f;
}

.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: #ff652f;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.menu-nav__item:nth-child(5) {
  transition-delay: 0.65s;
}

.about {
  padding-bottom :2rem;
}

.about__bio-image {

  height: max-content;
  width: 100%;
  background:url(../img/background1.jpg) center top;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.about__bio-image p {
  padding-top: 6rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.about__bio {
  width: 100%;
  text-align: center;
backdrop-filter: blur(6px);
padding-left: 1rem;
Padding-right:1rem;
Padding-top:2rem;
}

.about__bio .text-secondry {
  padding: 3rem 0 1rem 0;
}

.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.about .jobs__job {
  background: #414141;
  padding: .5rem;
  border-left: 5px solid #ff652f;
}

.about .jobs__job h2, .about .jobs__job h3 {
  margin: .5rem 0;
}

.about .jobs__job h6 {
  margin: .3rem 0;
  font-size: 1rem;
}



.about .jobs .container {
  width: 100%;
  background-color: #ddd;
  border-radius: 3rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.about .jobs .skills {
  border-radius: 2rem;
  text-align: right;
  /* Right-align text */
  padding-top: 10px;
  /* Add top padding */
  padding-bottom: 10px;
  /* Add bottom padding */
  color: white;
  /* White text color */
  transition: all 0.5s ease-in-out;
  padding-right: .5rem;
}

.about .jobs .html {
  width: 98%;
  background-color: #ff652f;
}

.about .jobs .html:hover {
  transition: all 0.5s ease-in-out;
  background-color: rgba(39, 39, 39, 0.9);
}

.about .jobs .css {
  width: 89%;
  background-color: #ff652f;
}

.about .jobs .css:hover {
  transition: all 0.5s ease-in-out;
  background-color: rgba(39, 39, 39, 0.9);
}

.about .jobs .js {
  width: 70%;
  background-color: #ff652f;
}

.about .jobs .js:hover {
  transition: all 0.5s ease-in-out;
  background-color: rgba(39, 39, 39, 0.9);
}

.about .jobs .Graphics {
  width: 80%;
  background-color: #ff652f;
}

.about .jobs .Graphics:hover {
  transition: all 0.5s ease-in-out;
  background-color: rgba(39, 39, 39, 0.9);
}

.about .social-icons {
  display: flex;
  flex-direction: column;
}

.about footer {
  transform: rotate(90deg) translate(-6rem, -8rem);
}

.projects {
  padding-bottom: 2rem;
  overflow: hidden;
}

.projects__bio-image {
  height: 30vh;
  width: 100%;
  background:url(../img/undraw_projections_re_1mrh.svg) center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

.projects__bio-image .text-secondry {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.projects__bio-image p{
  font-size: 1.5rem;
  font-family: ubuntu;
}

.projects__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.projects__item {
  position: relative;
  border-bottom: 5px solid #ff652f;
  overflow: hidden;
  cursor: pointer;
}

.projects__item img {
  width: 100%;
}

.projects__item::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ff652f;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.projects__item:hover::after {
  top: 0;
  opacity: .9;
}

.projects__item:hover .projects__btn {
  opacity: 1;
}

.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}

.projects__btn {
  opacity: 0;
  color: #000;
  transition: all 0.5s ease-in-out;
}

.projects__btn:hover {
  color: #fff;
}

.projects .social-icons {
  display: flex;
  flex-direction: column;
}

.projects footer {
  transform: rotate(90deg) translate(-7rem, -8rem);
}
.contact {
  height: 100%;
  overflow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:url("../img/mobilebg.jpg") no-repeat fixed top center;
  background-size: cover;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  padding-top: 13vh;

}

.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
  padding:1rem 2rem;
}

.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

@media screen and (min-width: 765px) {

  .home {
    height: 100%;
    -webkit-overflow-scrolling: hidden;
    padding-top: 25vh;
    overflow: none;
    width:100%;
    align-items: center;
    text-align: center;
    background:url("../img/background.jpg") no-repeat fixed top center;
    background-size: cover;
  }
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
  .about__bio {
    font-size: 1.5rem;
  }
  .about__bio .text-secondry {
    padding: 4rem 0 1rem 0;
  }
  .projects__bio-image {
    height: 50vh;
  }
  .projects__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects .text-secondry {
    font-size: 3rem;
  }
  .flex {
    width: auto;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact {
    height: 100%;
    padding-top: 20vh;
    overflow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:url("../img/background1.jpg") no-repeat fixed top center;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .projects__items {
    grid-template-columns:1fr;
  }
  .flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

body {
  background-color: #272727;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  outline: none;
  color: #fff;
  text-decoration: none;
}

.text-secondry {
  color: #ff652f;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  width: 100%;
  height: 100%;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  outline: none;
}

main .social-icons a {
  outline: none;
  padding: .4rem;
  transition: all 0.5s ease-in-out;
}

main .social-icons a:hover {
  color: #ff652f;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: .4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */
